:root {
    --fundo: #000000;
    --cartao-frente: #66CDAA;
    --cartao-verso: #2F4F4F;
    --destaque: #00FF00;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
    color: var(--preto);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color: var(--preto);
    width: 100%;
    text-align: center;
}

header {
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

header a {
    color: var(--branco);

}

#container {
    display: grid;
    gap: 3rem;
}

.conteudoCartao {
    padding: 4rem;
    background-color: var(--cartao-frente);
    box-shadow: 25px 25px 25px var(--preto);
    border: 5px solid var(--destaque);
    border-radius: 2px;
    cursor: pointer;
}

.conteudoCartao:hover {
    transform: scale(1.02);
}
/* Teste abaixo*/
.cartao .conteudoCartao:active {
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.respostaCartao{
    backface-visibility: hidden;
    background-color: var(--cartao-verso);
    transform: rotateY(180deg);
    height:100%;
    width: 100%;
}

.respostaCartao{
    background-color: var(--cartao-verso);
    color: var(--branco);
    padding: 40px;
    margin-top: 15px;
}